<mat-card>
  <div class="example-container">
    <form class="example-container" [formGroup]="sendForm">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'Destination Address' | translate }}"
          formControlName="destAccount"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'Amount' | translate }}"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div *ngIf="fc.amount.errors && (fc.amount.touched)">
        <div *ngIf="fc.amount.errors.pattern">
          <mat-error [hidden]="!fc.amount.errors.pattern">
              Amount must be money.
          </mat-error>
      </div>

    </div>
      <button
        mat-raised-button
        color="primary"
        (click)="onSend()"
        [disabled]="!sendForm.valid"
      >
        {{ "Send" | translate }}
      </button>
    </form>
    <mat-progress-spinner
      style="position:fixed;top:50%;left:40%"
      *ngIf="isLoading"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</mat-card>
