:host {
  &,
  main {
    transition: background 170ms ease-in;
    width: 100vw;
    height: 100vh;
  }

  &.dark-theme {
    &,
    main {
      background: #010101;
      color: #fff;
    }
  }
}

.list {
  padding: 2rem;
}

h1,
h2 {
  font-size: 1rem;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 500px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.example-card {
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.example-header-image {
  background-size: cover;
}
.example-margin {
  margin: 0 10px;
}
.transparent {
  .mat-dialog-container {
    box-shadow: none;
    background: rgba(0, 0, 0, 0);
  }
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.Site-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.login-button {
  width: 100% !important;
  min-width: unset !important;
}

.gesture__zone {
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  height: 500px;
  text-align: center;
  overflow: auto;
}

.wallet-img {
  border-radius: 30%;
  padding: 5px;
  width: 50px;
}
