.example-card {
  flex-direction: column;
}

.example-header-image {
  background-size: cover;
}

.center {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.wrap {
  word-wrap: break-word;
}
