<mat-card class="example-card">
  <mat-card-content>
    <div align="center">
      <ngx-qrcode [qrc-value]="value"></ngx-qrcode>
      <p class="wrap">{{ value }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button (click)="copyToClipboard()">
      {{ "Copy to Clipboard" | translate }}
    </button>
    <button mat-raised-button (click)="rotateKey()" disabled="true">
      {{ "Rotate Key" | translate }}
    </button>
  </mat-card-actions>
</mat-card>
